@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* Fondo y centrado */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/fondo1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Contenedor del formulario */
form {
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px); /* Efecto blur */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    border-radius: 15px; /* Bordes redondeados */
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: left; /* Texto alineado a la izquierda */
}

h1 {
    font-size: 2em;
    color: #ffffff;
    text-align: center; /* Alinea el título al centro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

/* Etiquetas */
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Campos de entrada */
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form input:focus {
    border-color: #6d9aba;
    outline: none;
    box-shadow: 0 0 5px rgba(109, 154, 186, 0.5);
}

/* Botón */
form button {
    width: 100%;
    background-color: #6d9aba;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #5b8ca2;
}

#error{
    color: #e05555;
    font-size: 1.5em
}
